<%- include('header') %>

	<body>
		<div class="wrapper">
			<div class="index-wrapper">
				<div class="search-area">
					<input type="search" placeholder="search" class="search">
					<a class="details-button" href="/recipes">Search</a>
					<a class="details-button" href="/recipes/new">Add recipe</a>
				</div>
				<div class="subtitle">Newest recipes</div>
				<div class="row">
					<% recipes.forEach(function (item){ %>
						<%- include('recipecard',{item : item}) %>
					<% }); %>
				</div>

				<div class="subtitle">Best rated recipes</div>
				<div class="row">
					<% bestRecipes.forEach(function (item){ %>
						<%- include('recipecard',{item : item}) %>
					<% }); %>
				</div>
			</div>
		</div>
	</body>
</html>