<%- include('header') %>

	<body>
		<div class="details-wrapper">
			<div class="details-content">
				<div class="details-column edit">
					<input class="title-input" type="text" placeholder="Recipe name" >
					<img class="details-img" src="/images/placeholder_image.png">
					<a class="details-button">Upload image</a>
				</div>
				<div class="details-column">
					<div class="buttons">
						<a class="details-button" href="/home">Save</a>
						<a class="details-button" href="/home">Cancel</a>
					</div>
					<div class="edit-details">
						<div class="edit-title">
							Ingredients
						</div>
						<ul class="edit-list">
						</ul>
						<div class="edit-input-area">
							<input class="edit-input" type="text" placeholder="add ingredient">
							<img class="edit-plus" src="/images/plus.png">
						</div>
					</div>
					<div class="edit-details">
						<div class="edit-title">
							Preparation
						</div>
						<ul class="edit-list">
						</ul>
						<div class="edit-input-area">
							<input class="edit-input" type="text" placeholder="add preparation">
							<img class="edit-plus" src="/images/plus.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	</html>