<%- include('header') %>

	<body>
		<div class="wrapper">
			<div class="index-wrapper">
				<%- include('searcharea') %>
				<div class="subtitle">Results</div>
				<div class="row">
					<% recipes.forEach(function (item){ %>
						<%- include('recipecard',{item : item}) %>
					<% }); %>
				</div>
			</div>
		</div>
	</body>
</html>