<form method="GET" action"/recipes" class="search-area">
	<input type="search" name="name" placeholder="search" class="search">
	<input type="hidden" name="search" value="true" >
	<button class="details-button" type="submit" >Search</button>
	<a class="details-button" href="/recipes/new">Add recipe</a>
</form>