@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.search-area {
	margin-top: 50px;
	margin-left: 40px;
	display:flex;
	justify-content: center;
	height: 40px;
}

.subtitle {
	font-size: 28px;
	margin-left: 30px;
	margin-top: 30px;
	color: #484f4f;
	border-bottom: 1px solid #563f46;
	width: 250px;
}

.row {
	display:flex;
	justify-content: left;
}

img {
	width: 250px;
	height: 250px;
}

.card {
	margin-top: 20px;
	margin-left: 30px;
}

.recipe-name {
	display:flex;
	justify-content: center;
	color: #484f4f;
	margin-top: 8px;
}

.search {
	margin-right: 10px;
	width: 30%;
}

.wrapper{
	display: flex;
	justify-content: center;
}


.title {
	font-size: 60px;
	color: #484f4f;
}

.details-img{
	width: 500px;
	height: 500px;
}

.details-column {
	margin-left: 30px;
}

.details-content {
	display: flex;
	margin-top: 30px;
}

.buttons {
	height: 68px;
	justify-content: left;
	align-items: center;
	display: flex;
}

.details-button {
	height: 40px;
	width: 140px;
	margin-right: 20px;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border: 1px solid #563f46;
	font-size: 18px;
	color: #484f4f;
	background-color: white;
	cursor: pointer;
}

.details-title {
	font-size: 40px;
	color: #484f4f;
	border-bottom: 1px solid #563f46;
	width: 50%;
	padding-bottom: 10px;
}

.details {
	height: 50%;
}

li {
	font-size: 20px;
	color: #484f4f;
}


.checked {
  color: orange;
}

.review-row {
	margin-left: 30px;
	font-size: 40px;
	display: flex;
	flex-flow: row wrap;
}

.review-title {
	font-size: 40px;
	color: #484f4f;
	margin-right: 30px;
}

.review-card {
	box-sizing: border-box;
	width: 20%;
	margin-right: 30px;
	margin-top: 10px;
}

.comment {
	font-size: 20px;
	color: #484f4f;
	border: 1px solid #563f46;
	padding: 5px;
	width: 100%;
	min-height: 200px;
}

.review {
	margin-top: 30px;
}


a {
	color: #484f4f;
  text-decoration: none;
}

.title-input {
	font-size: 60px;
	color: #484f4f;
	width: 500px;
	box-sizing: border-box;
}

.edit {
	width: 500px;
}

.edit-title {
	font-size: 40px;
	color: #484f4f;
	width: 50%;
}

.edit-list {
	font-size: 18px;
	color: #484f4f;
	width: 300px;
	padding: 5px 0px 5px 20px;
	border: 1px solid #563f46;
	height: 133px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.edit-plus {
	width: 30px;
	height: 30px;
	margin-left: 30px;
}

.edit-input-area {
	display: flex;
	align-items: center;
}

.edit-input {
	font-size: 18px;
	color: #484f4f;
	width: 240px;
	box-sizing: border-box;
}

.edit-details {
	height: 40%;
}

.upload-input {
	font-size: 18px;
	color: #484f4f;
	width: 70%;
	box-sizing: border-box;
	margin-right: 20px;
}

.upload-button {
	height: 40px;
	width: 30%;
	display: flex;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	border: 1px solid #563f46;
	font-size: 18px;
	color: #484f4f;
	background-color: white;
	cursor: pointer;
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: orange;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px orange;
}